<!DOCTYPE html>
<html>
<head>
    <title>Мои заявки</title>
</head>
<body>
    <h1>Личный кабинет</h1>
    <h2>Мои поданные заявки:</h2>

    {% if applications %}
        <table border="1" cellpadding="8">
            <tr>
                <th>Курс</th>
                <th>Моё сообщение</th>
            </tr>
            {% for app in applications %}
            <tr>
                <td>{{ app.course.title }}</td>
                <td>{{ app.message }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Вы еще не подали ни одной заявки.</p>
    {% endif %}

    <br>
    <a href="{{ url_for('courses') }}">Вернуться к курсам</a>
</body>
</html>